/*Call to Action CSS Styles*/
.sections {
    width: 1200px !important;
    margin: 0 auto;
  }

.hrm-titles {
  font-weight: 800 !important;
  text-transform: uppercase;
}

.hrm-text-centers-reverse{
  text-align: left !important;
}

p.subdes {
  font-size: 25px;
}

.cta-container{
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.cta-container h2.hrm-titles,
.cta-container p.subdes{
    color: #fff !important;
}

.icon-push {
    background-color: #18a6debb;
    height: 100px;
    width: 100px;
    display: table;
}

.cta-icon {
    font-size: 40px;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}

span.mny {
    font-size: 40px;
    font-weight: 800;
}

button.plnbnt {
    background-color: #18a7de !important;
    color: #fff;
    border: 2px solid #18a7de;
}

button.plnbnt:hover{
    background-color: #fff !important;
    color: #18a7de !important;
    border: 2px solid #fff;
}

.twae-icon{
    transform: scale(1);
    animation: pulse-black 2s infinite !important;
}

/*End Call to Action CSS Styles*/

/*Animations Icons Push*/

@keyframes pulse-black {
    0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(179, 161, 243, 0.7);
    }
    
    70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(151, 184, 245, 0.13);
    }
    
    100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(202, 192, 248, 0);
    }
    }

    @media only screen and (max-width: 1300px) and (min-width: 1025px){
        .sections{
            width: 100% !important;
            max-width: 100% !important;
        }
    
    }

    @media only screen and (max-width: 1024px) and (min-width: 320px){

        .sections{
            width: 100% !important;
            max-width: 100% !important;
        }
    
    }
